.not-found-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.card-img {
  height: 110px;
  width: 100px;
}

.card-heading {
  font-family: Roboto;
  color: #551e53;
  font-size: 28px;
}
